@font-face{
    font-family: "Klyakson";
    src: url(assets/Klyakson.otf) format("opentype");
}
@font-face{
    font-family: "PokemonSolidNormal";
    src: url(assets/psn.ttf) format("truetype");
}

html, body{
    margin:0;
    padding: 0;
    overflow: hidden;
}
#bg{
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-image: url(assets/bg1.jpg);
    filter: brightness(95%) saturate(70%);
    position: absolute;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slide{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#site-name{
    font-size: 4rem;
    font-family: "PokemonSolidNormal", sans-serif;
    letter-spacing: .2rem;
    color: white;
    text-shadow: 0 0 100px orange;
    -webkit-text-stroke: 2px orange;
    user-select: none;
}